<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Font Reference - WojoIcons</title>
<link rel="stylesheet" type="text/css" href="../css/icon.css">
<style type="text/css">
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline
}
body {
  line-height: 1;
  color: #000;
  background: #fff
}
ol,
ul {
  list-style: none
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}
a img {
  border: none
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
body {
  font-family: 'Arial', 'Tahoma', sans-serif
}
.container {
  margin: 15px auto;
  width: 80%
}
h1 {
  margin: 40px 0 20px;
  font-weight: 700;
  font-size: 38px;
  line-height: 32px;
  color: #fb565e
}
h2 {
  font-size: 18px;
  padding: 0 0 21px 5px;
  margin: 45px 0 0 0;
  text-transform: uppercase;
  font-weight: 500
}
.small {
  font-size: 14px;
  color: #a5adb4;
}
.small a {
  color: #a5adb4;
}
.small a:hover {
  color: #fb565e
}
.glyphs.css-mapping {
  margin: 0 0 60px 0;
  padding: 30px 0 20px 30px;
  color: rgba(0,0,0,0.5);
  border: 1px solid #d8e0e5;
}
.glyphs.css-mapping li {
  margin: 0 30px 20px 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 2px 0 0 #a5adb4;
}
.glyphs.css-mapping .icon {
  margin: 0;
  margin-right: 10px;
  padding: 13px 13px 13px 0;
  height: 50px;
  width: 50px;
  color: #162a36 !important;
  overflow: hidden;
  float: left;
  font-size: 2em
}
.glyphs.css-mapping div {
  margin: 0;
  line-height: 4em;
  font-size: 14px;
  display: block;
  width: 150px;
  height: 40px;
  outline: 0;
  float: right;
}
</style>
</head>
<body>
<div class="container">
  <h1>WojoIcons</h1>
  <p class="small">This font was created with<a href="http://fontastic.me/">Fontastic</a>
  </p>
  <h2>CSS mapping</h2>
  <ul class="glyphs css-mapping">
    <li>
      <i class="icon agenda"></i>
      <div>agenda</div>
    </li>
    <li>
      <i class="icon aid kit"></i>
      <div>aid kit</div>
    </li>
    <li>
      <i class="icon anchor"></i>
      <div>anchor</div>
    </li>
    <li>
      <i class="icon angle double down"></i>
      <div>angle double down</div>
    </li>
    <li>
      <i class="icon angle double left"></i>
      <div>angle double left</div>
    </li>
    <li>
      <i class="icon angle double right"></i>
      <div>angle double right</div>
    </li>
    <li>
      <i class="icon angle double up"></i>
      <div>angle double up</div>
    </li>
    <li>
      <i class="icon angle down"></i>
      <div>angle down</div>
    </li>
    <li>
      <i class="icon angle left"></i>
      <div>angle left</div>
    </li>
    <li>
      <i class="icon angle right"></i>
      <div>angle right</div>
    </li>
    <li>
      <i class="icon angle up"></i>
      <div>angle up</div>
    </li>
    <li>
      <i class="icon antena"></i>
      <div>antena</div>
    </li>
    <li>
      <i class="icon app"></i>
      <div>app</div>
    </li>
    <li>
      <i class="icon app add"></i>
      <div>app add</div>
    </li>
    <li>
      <i class="icon app remove"></i>
      <div>app remove</div>
    </li>
    <li>
      <i class="icon apps"></i>
      <div>apps</div>
    </li>
    <li>
      <i class="icon apps alt"></i>
      <div>apps alt</div>
    </li>
    <li>
      <i class="icon arrow backward"></i>
      <div>arrow backward</div>
    </li>
    <li>
      <i class="icon arrow forward"></i>
      <div>arrow forward</div>
    </li>
    <li>
      <i class="icon arrows"></i>
      <div>arrows</div>
    </li>
    <li>
      <i class="icon arrows horizontal"></i>
      <div>arrows horizontal</div>
    </li>
    <li>
      <i class="icon arrows vertical"></i>
      <div>arrows vertical</div>
    </li>
    <li>
      <i class="icon asterisk"></i>
      <div>asterisk</div>
    </li>
    <li>
      <i class="icon backward"></i>
      <div>backward</div>
    </li>
    <li>
      <i class="icon badge"></i>
      <div>badge</div>
    </li>
    <li>
      <i class="icon bag"></i>
      <div>bag</div>
    </li>
    <li>
      <i class="icon ban"></i>
      <div>ban</div>
    </li>
    <li>
      <i class="icon bar chart"></i>
      <div>bar chart</div>
    </li>
    <li>
      <i class="icon bar chart alt"></i>
      <div>bar chart alt</div>
    </li>
    <li>
      <i class="icon basket"></i>
      <div>basket</div>
    </li>
    <li>
      <i class="icon basket alt"></i>
      <div>basket alt</div>
    </li>
    <li>
      <i class="icon basketball"></i>
      <div>basketball</div>
    </li>
    <li>
      <i class="icon batery20"></i>
      <div>batery20</div>
    </li>
    <li>
      <i class="icon batery50"></i>
      <div>batery50</div>
    </li>
    <li>
      <i class="icon batery empty"></i>
      <div>batery empty</div>
    </li>
    <li>
      <i class="icon batery full"></i>
      <div>batery full</div>
    </li>
    <li>
      <i class="icon bell"></i>
      <div>bell</div>
    </li>
    <li>
      <i class="icon binoculars"></i>
      <div>binoculars</div>
    </li>
    <li>
      <i class="icon blackboard graph"></i>
      <div>blackboard graph</div>
    </li>
    <li>
      <i class="icon bluetooth"></i>
      <div>bluetooth</div>
    </li>
    <li>
      <i class="icon bluetooth connected"></i>
      <div>bluetooth connected</div>
    </li>
    <li>
      <i class="icon bolt"></i>
      <div>bolt</div>
    </li>
    <li>
      <i class="icon book"></i>
      <div>book</div>
    </li>
    <li>
      <i class="icon bookmark"></i>
      <div>bookmark</div>
    </li>
    <li>
      <i class="icon briefcase"></i>
      <div>briefcase</div>
    </li>
    <li>
      <i class="icon briefcase alt"></i>
      <div>briefcase alt</div>
    </li>
    <li>
      <i class="icon brightness"></i>
      <div>brightness</div>
    </li>
    <li>
      <i class="icon brightness alt"></i>
      <div>brightness alt</div>
    </li>
    <li>
      <i class="icon brush"></i>
      <div>brush</div>
    </li>
    <li>
      <i class="icon bubble"></i>
      <div>bubble</div>
    </li>
    <li>
      <i class="icon building"></i>
      <div>building</div>
    </li>
    <li>
      <i class="icon burger"></i>
      <div>burger</div>
    </li>
    <li>
      <i class="icon bus"></i>
      <div>bus</div>
    </li>
    <li>
      <i class="icon cake"></i>
      <div>cake</div>
    </li>
    <li>
      <i class="icon calculator"></i>
      <div>calculator</div>
    </li>
    <li>
      <i class="icon calendar"></i>
      <div>calendar</div>
    </li>
    <li>
      <i class="icon calendar add"></i>
      <div>calendar add</div>
    </li>
    <li>
      <i class="icon calendar alt"></i>
      <div>calendar alt</div>
    </li>
    <li>
      <i class="icon calendar remove"></i>
      <div>calendar remove</div>
    </li>
    <li>
      <i class="icon camera"></i>
      <div>camera</div>
    </li>
    <li>
      <i class="icon camera alt"></i>
      <div>camera alt</div>
    </li>
    <li>
      <i class="icon car"></i>
      <div>car</div>
    </li>
    <li>
      <i class="icon cd"></i>
      <div>cd</div>
    </li>
    <li>
      <i class="icon certificate"></i>
      <div>certificate</div>
    </li>
    <li>
      <i class="icon chat"></i>
      <div>chat</div>
    </li>
    <li>
      <i class="icon check"></i>
      <div>check</div>
    </li>
    <li>
      <i class="icon check all"></i>
      <div>check all</div>
    </li>
    <li>
      <i class="icon checkbox"></i>
      <div>checkbox</div>
    </li>
    <li>
      <i class="icon checkbox checked"></i>
      <div>checkbox checked</div>
    </li>
    <li>
      <i class="icon checkbox checked alt"></i>
      <div>checkbox checked alt</div>
    </li>
    <li>
      <i class="icon chevron down"></i>
      <div>chevron down</div>
    </li>
    <li>
      <i class="icon chevron left"></i>
      <div>chevron left</div>
    </li>
    <li>
      <i class="icon chevron right"></i>
      <div>chevron right</div>
    </li>
    <li>
      <i class="icon chevron up"></i>
      <div>chevron up</div>
    </li>
    <li>
      <i class="icon circle check"></i>
      <div>circle check</div>
    </li>
    <li>
      <i class="icon circle chevron down"></i>
      <div>circle chevron down</div>
    </li>
    <li>
      <i class="icon circle chevron left"></i>
      <div>circle chevron left</div>
    </li>
    <li>
      <i class="icon circle chevron right"></i>
      <div>circle chevron right</div>
    </li>
    <li>
      <i class="icon circle chevron up"></i>
      <div>circle chevron up</div>
    </li>
    <li>
      <i class="icon circle delete"></i>
      <div>circle delete</div>
    </li>
    <li>
      <i class="icon circle minus"></i>
      <div>circle minus</div>
    </li>
    <li>
      <i class="icon circle plus"></i>
      <div>circle plus</div>
    </li>
    <li>
      <i class="icon clipboard"></i>
      <div>clipboard</div>
    </li>
    <li>
      <i class="icon clipboard alt"></i>
      <div>clipboard alt</div>
    </li>
    <li>
      <i class="icon clock"></i>
      <div>clock</div>
    </li>
    <li>
      <i class="icon close"></i>
      <div>close</div>
    </li>
    <li>
      <i class="icon cloud download"></i>
      <div>cloud download</div>
    </li>
    <li>
      <i class="icon cloud upload"></i>
      <div>cloud upload</div>
    </li>
    <li>
      <i class="icon code"></i>
      <div>code</div>
    </li>
    <li>
      <i class="icon code alt"></i>
      <div>code alt</div>
    </li>
    <li>
      <i class="icon cogs"></i>
      <div>cogs</div>
    </li>
    <li>
      <i class="icon comment"></i>
      <div>comment</div>
    </li>
    <li>
      <i class="icon comments"></i>
      <div>comment add</div>
    </li>
    <li>
      <i class="icon compass"></i>
      <div>compass</div>
    </li>
    <li>
      <i class="icon compress"></i>
      <div>compress</div>
    </li>
    <li>
      <i class="icon contacts"></i>
      <div>contacts</div>
    </li>
    <li>
      <i class="icon contrast"></i>
      <div>contrast</div>
    </li>
    <li>
      <i class="icon copy"></i>
      <div>copy</div>
    </li>
    <li>
      <i class="icon crayon"></i>
      <div>crayon</div>
    </li>
    <li>
      <i class="icon credit card"></i>
      <div>credit card</div>
    </li>
    <li>
      <i class="icon crop"></i>
      <div>crop</div>
    </li>
    <li>
      <i class="icon css"></i>
      <div>css</div>
    </li>
    <li>
      <i class="icon cup"></i>
      <div>cup</div>
    </li>
    <li>
      <i class="icon customize"></i>
      <div>customize</div>
    </li>
    <li>
      <i class="icon cut"></i>
      <div>cut</div>
    </li>
    <li>
      <i class="icon dashboard"></i>
      <div>dashboard</div>
    </li>
    <li>
      <i class="icon database"></i>
      <div>database</div>
    </li>
    <li>
      <i class="icon database alt"></i>
      <div>database alt</div>
    </li>
    <li>
      <i class="icon date"></i>
      <div>date</div>
    </li>
    <li>
      <i class="icon delete"></i>
      <div>delete</div>
    </li>
    <li>
      <i class="icon desktop"></i>
      <div>desktop</div>
    </li>
    <li>
      <i class="icon dice"></i>
      <div>dice</div>
    </li>
    <li>
      <i class="icon directions"></i>
      <div>directions</div>
    </li>
    <li>
      <i class="icon download"></i>
      <div>download</div>
    </li>
    <li>
      <i class="icon download alt"></i>
      <div>download alt</div>
    </li>
    <li>
      <i class="icon drop"></i>
      <div>drop</div>
    </li>
    <li>
      <i class="icon dropbox"></i>
      <div>dropbox</div>
    </li>
    <li>
      <i class="icon dropper"></i>
      <div>dropper</div>
    </li>
    <li>
      <i class="icon earth"></i>
      <div>earth</div>
    </li>
    <li>
      <i class="icon ellipsis horizontal"></i>
      <div>ellipsis horizontal</div>
    </li>
    <li>
      <i class="icon ellipsis horizontal alt"></i>
      <div>ellipsis horizontal alt</div>
    </li>
    <li>
      <i class="icon ellipsis vertical"></i>
      <div>ellipsis vertical</div>
    </li>
    <li>
      <i class="icon ellipsis vertical alt"></i>
      <div>ellipsis vertical alt</div>
    </li>
    <li>
      <i class="icon email"></i>
      <div>email</div>
    </li>
    <li>
      <i class="icon email alt"></i>
      <div>email alt</div>
    </li>
    <li>
      <i class="icon eraser"></i>
      <div>eraser</div>
    </li>
    <li>
      <i class="icon expand"></i>
      <div>expand</div>
    </li>
    <li>
      <i class="icon eye"></i>
      <div>eye</div>
    </li>
    <li>
      <i class="icon eye blocked"></i>
      <div>eye blocked</div>
    </li>
    <li>
      <i class="icon eye glasses"></i>
      <div>eye glasses</div>
    </li>
    <li>
      <i class="icon facebook"></i>
      <div>facebook</div>
    </li>
    <li>
      <i class="icon facebook alt"></i>
      <div>facebook alt</div>
    </li>
    <li>
      <i class="icon faq"></i>
      <div>faq</div>
    </li>
    <li>
      <i class="icon feather"></i>
      <div>feather</div>
    </li>
    <li>
      <i class="icon female"></i>
      <div>female</div>
    </li>
    <li>
      <i class="icon female gender"></i>
      <div>female gender</div>
    </li>
    <li>
      <i class="icon file"></i>
      <div>file</div>
    </li>
    <li>
      <i class="icon file add"></i>
      <div>file add</div>
    </li>
    <li>
      <i class="icon file remove"></i>
      <div>file remove</div>
    </li>
    <li>
      <i class="icon files"></i>
      <div>files</div>
    </li>
    <li>
      <i class="icon files add"></i>
      <div>files add</div>
    </li>
    <li>
      <i class="icon files remove"></i>
      <div>files remove</div>
    </li>
    <li>
      <i class="icon filter"></i>
      <div>filter</div>
    </li>
    <li>
      <i class="icon find"></i>
      <div>find</div>
    </li>
    <li>
      <i class="icon fire"></i>
      <div>fire</div>
    </li>
    <li>
      <i class="icon flag"></i>
      <div>flag</div>
    </li>
    <li>
      <i class="icon floppy"></i>
      <div>floppy</div>
    </li>
    <li>
      <i class="icon flow tree"></i>
      <div>flow tree</div>
    </li>
    <li>
      <i class="icon folder"></i>
      <div>folder</div>
    </li>
    <li>
      <i class="icon folder add"></i>
      <div>folder add</div>
    </li>
    <li>
      <i class="icon folder open"></i>
      <div>folder open</div>
    </li>
    <li>
      <i class="icon folder remove"></i>
      <div>folder remove</div>
    </li>
    <li>
      <i class="icon food dome"></i>
      <div>food dome</div>
    </li>
    <li>
      <i class="icon football"></i>
      <div>football</div>
    </li>
    <li>
      <i class="icon forward"></i>
      <div>forward</div>
    </li>
    <li>
      <i class="icon gamepad"></i>
      <div>gamepad</div>
    </li>
    <li>
      <i class="icon ghost"></i>
      <div>ghost</div>
    </li>
    <li>
      <i class="icon gift"></i>
      <div>gift</div>
    </li>
    <li>
      <i class="icon github"></i>
      <div>github</div>
    </li>
    <li>
      <i class="icon globe"></i>
      <div>globe</div>
    </li>
    <li>
      <i class="icon google"></i>
      <div>google</div>
    </li>
    <li>
      <i class="icon google drive"></i>
      <div>google drive</div>
    </li>
    <li>
      <i class="icon google plus"></i>
      <div>google plus</div>
    </li>
    <li>
      <i class="icon gps"></i>
      <div>gps</div>
    </li>
    <li>
      <i class="icon grid"></i>
      <div>grid</div>
    </li>
    <li>
      <i class="icon grid align bottom left"></i>
      <div>grid align bottom left</div>
    </li>
    <li>
      <i class="icon grid align bottom right"></i>
      <div>grid align bottom right</div>
    </li>
    <li>
      <i class="icon grid align center bottom"></i>
      <div>grid align center bottom</div>
    </li>
    <li>
      <i class="icon grid align center left"></i>
      <div>grid align center left</div>
    </li>
    <li>
      <i class="icon grid align center middle"></i>
      <div>grid align center middle</div>
    </li>
    <li>
      <i class="icon grid align center right"></i>
      <div>grid align center right</div>
    </li>
    <li>
      <i class="icon grid align center top"></i>
      <div>grid align center top</div>
    </li>
    <li>
      <i class="icon grid align top left"></i>
      <div>grid align top left</div>
    </li>
    <li>
      <i class="icon grid align top right"></i>
      <div>grid align top right</div>
    </li>
    <li>
      <i class="icon hdd"></i>
      <div>hdd</div>
    </li>
    <li>
      <i class="icon headphones"></i>
      <div>headphones</div>
    </li>
    <li>
      <i class="icon heart"></i>
      <div>heart</div>
    </li>
    <li>
      <i class="icon heart alt"></i>
      <div>heart alt</div>
    </li>
    <li>
      <i class="icon help"></i>
      <div>help</div>
    </li>
    <li>
      <i class="icon history"></i>
      <div>history</div>
    </li>
    <li>
      <i class="icon home"></i>
      <div>home</div>
    </li>
    <li>
      <i class="icon hourglass"></i>
      <div>hourglass</div>
    </li>
    <li>
      <i class="icon html5"></i>
      <div>html5</div>
    </li>
    <li>
      <i class="icon icecream"></i>
      <div>icecream</div>
    </li>
    <li>
      <i class="icon id"></i>
      <div>id</div>
    </li>
    <li>
      <i class="icon inbox"></i>
      <div>inbox</div>
    </li>
    <li>
      <i class="icon indent"></i>
      <div>indent</div>
    </li>
    <li>
      <i class="icon info sign"></i>
      <div>info sign</div>
    </li>
    <li>
      <i class="icon instagram"></i>
      <div>instagram</div>
    </li>
    <li>
      <i class="icon invoice"></i>
      <div>invoice</div>
    </li>
    <li>
      <i class="icon ip"></i>
      <div>ip</div>
    </li>
    <li>
      <i class="icon key"></i>
      <div>key</div>
    </li>
    <li>
      <i class="icon laptop"></i>
      <div>laptop</div>
    </li>
    <li>
      <i class="icon layer"></i>
      <div>layer</div>
    </li>
    <li>
      <i class="icon layer alt"></i>
      <div>layer alt</div>
    </li>
    <li>
      <i class="icon leaf"></i>
      <div>leaf</div>
    </li>
    <li>
      <i class="icon line chart"></i>
      <div>line chart</div>
    </li>
    <li>
      <i class="icon linkedin"></i>
      <div>line linkedin</div>
    </li>
    <li>
      <i class="icon lock"></i>
      <div>lock</div>
    </li>
    <li>
      <i class="icon long arrow down"></i>
      <div>long arrow down</div>
    </li>
    <li>
      <i class="icon long arrow down left"></i>
      <div>long arrow down left</div>
    </li>
    <li>
      <i class="icon long arrow down right"></i>
      <div>long arrow down right</div>
    </li>
    <li>
      <i class="icon long arrow left"></i>
      <div>long arrow left</div>
    </li>
    <li>
      <i class="icon long arrow right"></i>
      <div>long arrow right</div>
    </li>
    <li>
      <i class="icon long arrow up"></i>
      <div>long arrow up</div>
    </li>
    <li>
      <i class="icon long arrow up left"></i>
      <div>long arrow up left</div>
    </li>
    <li>
      <i class="icon long arrow up right"></i>
      <div>long arrow up right</div>
    </li>
    <li>
      <i class="icon magnet"></i>
      <div>magnet</div>
    </li>
    <li>
      <i class="icon male"></i>
      <div>male</div>
    </li>
    <li>
      <i class="icon male gender"></i>
      <div>male gender</div>
    </li>
    <li>
      <i class="icon map"></i>
      <div>map</div>
    </li>
    <li>
      <i class="icon maple leaf"></i>
      <div>maple leaf</div>
    </li>
    <li>
      <i class="icon marker"></i>
      <div>marker</div>
    </li>
    <li>
      <i class="icon mask"></i>
      <div>mask</div>
    </li>
    <li>
      <i class="icon medal"></i>
      <div>medal</div>
    </li>
    <li>
      <i class="icon membership"></i>
      <div>membership</div>
    </li>
    <li>
      <i class="icon microphone"></i>
      <div>microphone</div>
    </li>
    <li>
      <i class="icon minus"></i>
      <div>minus</div>
    </li>
    <li>
      <i class="icon minus alt"></i>
      <div>minus alt</div>
    </li>
    <li>
      <i class="icon money"></i>
      <div>money</div>
    </li>
    <li>
      <i class="icon mouse"></i>
      <div>mouse</div>
    </li>
    <li>
      <i class="icon move"></i>
      <div>move</div>
    </li>
    <li>
      <i class="icon move horizontal"></i>
      <div>move horizontal</div>
    </li>
    <li>
      <i class="icon move vertical"></i>
      <div>move vertical</div>
    </li>
    <li>
      <i class="icon movie"></i>
      <div>movie</div>
    </li>
    <li>
      <i class="icon mug"></i>
      <div>mug</div>
    </li>
    <li>
      <i class="icon musical note playlist"></i>
      <div>musical note playlist</div>
    </li>
    <li>
      <i class="icon musical notes"></i>
      <div>musical notes</div>
    </li>
    <li>
      <i class="icon mute"></i>
      <div>mute</div>
    </li>
    <li>
      <i class="icon news"></i>
      <div>news</div>
    </li>
    <li>
      <i class="icon note"></i>
      <div>note</div>
    </li>
    <li>
      <i class="icon note alt"></i>
      <div>note alt</div>
    </li>
    <li>
      <i class="icon ordered list"></i>
      <div>ordered list</div>
    </li>
    <li>
      <i class="icon outbox"></i>
      <div>outbox</div>
    </li>
    <li>
      <i class="icon outdent"></i>
      <div>outdent</div>
    </li>
    <li>
      <i class="icon paint roller"></i>
      <div>paint roller</div>
    </li>
    <li>
      <i class="icon paper clip"></i>
      <div>paper clip</div>
    </li>
    <li>
      <i class="icon paper plane"></i>
      <div>paper plane</div>
    </li>
    <li>
      <i class="icon paste"></i>
      <div>paste</div>
    </li>
    <li>
      <i class="icon pause"></i>
      <div>pause</div>
    </li>
    <li>
      <i class="icon pen"></i>
      <div>pen</div>
    </li>
    <li>
      <i class="icon pen alt"></i>
      <div>pen alt</div>
    </li>
    <li>
      <i class="icon pencil"></i>
      <div>pencil</div>
    </li>
    <li>
      <i class="icon phone"></i>
      <div>phone</div>
    </li>
    <li>
      <i class="icon phone call"></i>
      <div>phone call</div>
    </li>
    <li>
      <i class="icon photo"></i>
      <div>photo</div>
    </li>
    <li>
      <i class="icon photo alt"></i>
      <div>photo alt</div>
    </li>
    <li>
      <i class="icon photos"></i>
      <div>photos</div>
    </li>
    <li>
      <i class="icon pie chart"></i>
      <div>pie chart</div>
    </li>
    <li>
      <i class="icon pill"></i>
      <div>pill</div>
    </li>
    <li>
      <i class="icon pin"></i>
      <div>pin</div>
    </li>
    <li>
      <i class="icon pinterest"></i>
      <div>pinterest</div>
    </li>
    <li>
      <i class="icon plane"></i>
      <div>plane</div>
    </li>
    <li>
      <i class="icon play"></i>
      <div>play</div>
    </li>
    <li>
      <i class="icon plus"></i>
      <div>plus</div>
    </li>
    <li>
      <i class="icon plus alt"></i>
      <div>plus alt</div>
    </li>
    <li>
      <i class="icon poll"></i>
      <div>poll</div>
    </li>
    <li>
      <i class="icon postcard"></i>
      <div>postcard</div>
    </li>
    <li>
      <i class="icon power"></i>
      <div>power</div>
    </li>
    <li>
      <i class="icon printer"></i>
      <div>printer</div>
    </li>
    <li>
      <i class="icon puzzle"></i>
      <div>puzzle</div>
    </li>
    <li>
      <i class="icon qr"></i>
      <div>qr</div>
    </li>
    <li>
      <i class="icon question sign"></i>
      <div>question sign</div>
    </li>
    <li>
      <i class="icon queue add"></i>
      <div>queue add</div>
    </li>
    <li>
      <i class="icon queue remove"></i>
      <div>queue remove</div>
    </li>
    <li>
      <i class="icon quote"></i>
      <div>quote</div>
    </li>
    <li>
      <i class="icon radio"></i>
      <div>radio</div>
    </li>
    <li>
      <i class="icon radio checked"></i>
      <div>radio checked</div>
    </li>
    <li>
      <i class="icon record"></i>
      <div>record</div>
    </li>
    <li>
      <i class="icon redo"></i>
      <div>redo</div>
    </li>
    <li>
      <i class="icon refresh"></i>
      <div>refresh</div>
    </li>
    <li>
      <i class="icon reorder"></i>
      <div>reorder</div>
    </li>
    <li>
      <i class="icon repeat"></i>
      <div>repeat</div>
    </li>
    <li>
      <i class="icon resize"></i>
      <div>resize</div>
    </li>
    <li>
      <i class="icon round chart"></i>
      <div>round chart</div>
    </li>
    <li>
      <i class="icon rss"></i>
      <div>rss</div>
    </li>
    <li>
      <i class="icon sailboat"></i>
      <div>sailboat</div>
    </li>
    <li>
      <i class="icon select"></i>
      <div>select</div>
    </li>
    <li>
      <i class="icon select all"></i>
      <div>select all</div>
    </li>
    <li>
      <i class="icon send"></i>
      <div>send</div>
    </li>
    <li>
      <i class="icon send alt"></i>
      <div>send alt</div>
    </li>
    <li>
      <i class="icon server"></i>
      <div>server</div>
    </li>
    <li>
      <i class="icon server alt"></i>
      <div>server alt</div>
    </li>
    <li>
      <i class="icon setting"></i>
      <div>setting</div>
    </li>
    <li>
      <i class="icon settings alt"></i>
      <div>settings alt</div>
    </li>
    <li>
      <i class="icon share"></i>
      <div>share</div>
    </li>
    <li>
      <i class="icon shield"></i>
      <div>shield</div>
    </li>
    <li>
      <i class="icon shield alt"></i>
      <div>shield alt</div>
    </li>
    <li>
      <i class="icon shirt"></i>
      <div>shirt</div>
    </li>
    <li>
      <i class="icon shuffle"></i>
      <div>shuffle</div>
    </li>
    <li>
      <i class="icon sliders horizontal"></i>
      <div>sliders horizontal</div>
    </li>
    <li>
      <i class="icon sliders horizontal alt"></i>
      <div>sliders horizontal alt</div>
    </li>
    <li>
      <i class="icon sliders vertical"></i>
      <div>sliders vertical</div>
    </li>
    <li>
      <i class="icon sliders vertical alt"></i>
      <div>sliders vertical alt</div>
    </li>
    <li>
      <i class="icon smartphone"></i>
      <div>smartphone</div>
    </li>
    <li>
      <i class="icon smile"></i>
      <div>smile</div>
    </li>
    <li>
      <i class="icon snowflake"></i>
      <div>snowflake</div>
    </li>
    <li>
      <i class="icon sort ascending"></i>
      <div>sort ascending</div>
    </li>
    <li>
      <i class="icon sort descending"></i>
      <div>sort descending</div>
    </li>
    <li>
      <i class="icon speaker"></i>
      <div>speaker</div>
    </li>
    <li>
      <i class="icon soundcloud"></i>
      <div>soundcloud</div>
    </li>
    <li>
      <i class="icon spin circles"></i>
      <div>spin circles</div>
    </li>
    <li>
      <i class="icon spin full"></i>
      <div>spin full</div>
    </li>
    <li>
      <i class="icon star"></i>
      <div>star</div>
    </li>
    <li>
      <i class="icon star full"></i>
      <div>star full</div>
    </li>
    <li>
      <i class="icon star half"></i>
      <div>star half</div>
    </li>
    <li>
      <i class="icon step backward"></i>
      <div>step backward</div>
    </li>
    <li>
      <i class="icon step forward"></i>
      <div>step forward</div>
    </li>
    <li>
      <i class="icon stop"></i>
      <div>stop</div>
    </li>
    <li>
      <i class="icon stop watch"></i>
      <div>stop watch</div>
    </li>
    <li>
      <i class="icon storage"></i>
      <div>storage</div>
    </li>
    <li>
      <i class="icon storage alt"></i>
      <div>storage alt</div>
    </li>
    <li>
      <i class="icon sunset"></i>
      <div>sunset</div>
    </li>
    <li>
      <i class="icon switch"></i>
      <div>switch off</div>
    </li>
    <li>
      <i class="icon tab"></i>
      <div>tab</div>
    </li>
    <li>
      <i class="icon tablet"></i>
      <div>tablet</div>
    </li>
    <li>
      <i class="icon tag"></i>
      <div>tag</div>
    </li>
    <li>
      <i class="icon tag delete"></i>
      <div>tag delete</div>
    </li>
    <li>
      <i class="icon tags"></i>
      <div>tags</div>
    </li>
    <li>
      <i class="icon target"></i>
      <div>target</div>
    </li>
    <li>
      <i class="icon tennis ball"></i>
      <div>tennis ball</div>
    </li>
    <li>
      <i class="icon thumbs down"></i>
      <div>thumbs down</div>
    </li>
    <li>
      <i class="icon thumbs up"></i>
      <div>thumbs up</div>
    </li>
    <li>
      <i class="icon tie"></i>
      <div>tie</div>
    </li>
    <li>
      <i class="icon timeline"></i>
      <div>timeline</div>
    </li>
    <li>
      <i class="icon toggle off"></i>
      <div>toggle off</div>
    </li>
    <li>
      <i class="icon toggle off alt"></i>
      <div>toggle off alt</div>
    </li>
    <li>
      <i class="icon toggle on"></i>
      <div>toggle on</div>
    </li>
    <li>
      <i class="icon toggle on alt"></i>
      <div>toggle on-alt</div>
    </li>
    <li>
      <i class="icon trailer"></i>
      <div>trailer</div>
    </li>
    <li>
      <i class="icon train"></i>
      <div>train</div>
    </li>
    <li>
      <i class="icon trash"></i>
      <div>trash</div>
    </li>
    <li>
      <i class="icon trash alt"></i>
      <div>trash alt</div>
    </li>
    <li>
      <i class="icon triangle down"></i>
      <div>triangle down</div>
    </li>
    <li>
      <i class="icon triangle left"></i>
      <div>triangle left</div>
    </li>
    <li>
      <i class="icon triangle right"></i>
      <div>triangle right</div>
    </li>
    <li>
      <i class="icon triangle up"></i>
      <div>triangle up</div>
    </li>
    <li>
      <i class="icon triangle unfold more"></i>
      <div>triangle unfold more</div>
    </li>
    <li>
      <i class="icon trophy"></i>
      <div>trophy</div>
    </li>
    <li>
      <i class="icon tumblr"></i>
      <div>tumblr</div>
    </li>
    <li>
      <i class="icon twitter"></i>
      <div>twitter</div>
    </li>
    <li>
      <i class="icon umbrella"></i>
      <div>umbrella</div>
    </li>
    <li>
      <i class="icon underline"></i>
      <div>underline</div>
    </li>
    <li>
      <i class="icon undo"></i>
      <div>undo</div>
    </li>
    <li>
      <i class="icon unfold in"></i>
      <div>unfold in</div>
    </li>
    <li>
      <i class="icon unfold less"></i>
      <div>unfold less</div>
    </li>
    <li>
      <i class="icon unfold more"></i>
      <div>unfold more</div>
    </li>
    <li>
      <i class="icon unfold out"></i>
      <div>unfold out</div>
    </li>
    <li>
      <i class="icon unlink"></i>
      <div>unlink</div>
    </li>
    <li>
      <i class="icon unlock"></i>
      <div>unlock</div>
    </li>
    <li>
      <i class="icon unordered list"></i>
      <div>unordered list</div>
    </li>
    <li>
      <i class="icon upload"></i>
      <div>upload</div>
    </li>
    <li>
      <i class="icon upload alt"></i>
      <div>upload alt</div>
    </li>
    <li>
      <i class="icon url"></i>
      <div>url</div>
    </li>
    <li>
      <i class="icon url alt"></i>
      <div>url alt</div>
    </li>
    <li>
      <i class="icon usb stick"></i>
      <div>usb stick</div>
    </li>
    <li>
      <i class="icon user"></i>
      <div>user</div>
    </li>
    <li>
      <i class="icon user alt"></i>
      <div>user alt</div>
    </li>
    <li>
      <i class="icon user add"></i>
      <div>user add</div>
    </li>
    <li>
      <i class="icon user profile"></i>
      <div>user profile</div>
    </li>
    <li>
      <i class="icon user remove"></i>
      <div>user remove</div>
    </li>
    <li>
      <i class="icon users"></i>
      <div>users</div>
    </li>
    <li>
      <i class="icon view agenda"></i>
      <div>view agenda</div>
    </li>
    <li>
      <i class="icon view day"></i>
      <div>view day</div>
    </li>
    <li>
      <i class="icon view grid"></i>
      <div>view grid</div>
    </li>
    <li>
      <i class="icon view list"></i>
      <div>view list</div>
    </li>
    <li>
      <i class="icon view week"></i>
      <div>view week</div>
    </li>
    <li>
      <i class="icon vimeo"></i>
      <div>vimeo</div>
    </li>
    <li>
      <i class="icon voicemail"></i>
      <div>voicemail</div>
    </li>
    <li>
      <i class="icon volume"></i>
      <div>volume</div>
    </li>
    <li>
      <i class="icon wallet"></i>
      <div>wallet</div>
    </li>
    <li>
      <i class="icon wand"></i>
      <div>wand</div>
    </li>
    <li>
      <i class="icon warning sign"></i>
      <div>warning sign</div>
    </li>
    <li>
      <i class="icon water"></i>
      <div>water</div>
    </li>
    <li>
      <i class="icon weather cloud"></i>
      <div>weather cloud</div>
    </li>
    <li>
      <i class="icon widgets"></i>
      <div>widgets</div>
    </li>
    <li>
      <i class="icon wifi full"></i>
      <div>wifi full</div>
    </li>
    <li>
      <i class="icon wifi low"></i>
      <div>wifi low</div>
    </li>
    <li>
      <i class="icon windows"></i>
      <div>windows</div>
    </li>
    <li>
      <i class="icon wojologo"></i>
      <div>wojologo</div>
    </li>
    <li>
      <i class="icon wojologo alt"></i>
      <div>wojologo alt</div>
    </li>
    <li>
      <i class="icon wysiwyg align center"></i>
      <div>wysiwyg align center</div>
    </li>
    <li>
      <i class="icon wysiwyg align justify"></i>
      <div>wysiwyg align justify</div>
    </li>
    <li>
      <i class="icon wysiwyg align left"></i>
      <div>wysiwyg align left</div>
    </li>
    <li>
      <i class="icon wysiwyg align right"></i>
      <div>wysiwyg align right</div>
    </li>
    <li>
      <i class="icon wysiwyg bold"></i>
      <div>wysiwyg bold</div>
    </li>
    <li>
      <i class="icon wysiwyg font"></i>
      <div>wysiwyg font</div>
    </li>
    <li>
      <i class="icon wysiwyg italic"></i>
      <div>wysiwyg italic</div>
    </li>
    <li>
      <i class="icon wysiwyg paragraph"></i>
      <div>wysiwyg paragraph</div>
    </li>
    <li>
      <i class="icon wysiwyg remove format"></i>
      <div>wysiwyg remove format</div>
    </li>
    <li>
      <i class="icon wysiwyg select"></i>
      <div>wysiwyg select</div>
    </li>
    <li>
      <i class="icon wysiwyg size"></i>
      <div>wysiwyg size</div>
    </li>
    <li>
      <i class="icon wysiwyg strikethrough"></i>
      <div>wysiwyg strikethrough</div>
    </li>
    <li>
      <i class="icon wysiwyg subscript"></i>
      <div>wysiwyg subscript</div>
    </li>
    <li>
      <i class="icon wysiwyg superscript"></i>
      <div>wysiwyg superscript</div>
    </li>
    <li>
      <i class="icon wysiwyg picture"></i>
      <div>wysiwyg picture</div>
    </li>
    <li>
      <i class="icon wysiwyg table"></i>
      <div>wysiwyg table</div>
    </li>
    <li>
      <i class="icon wysiwyg type"></i>
      <div>wysiwyg type</div>
    </li>
    <li>
      <i class="icon wysiwyg underline"></i>
      <div>wysiwyg underline</div>
    </li>
    <li>
      <i class="icon wysiwyg border dashed"></i>
      <div>wysiwyg border dashed</div>
    </li>
    <li>
      <i class="icon wysiwyg border dotted"></i>
      <div>wysiwyg border dotted</div>
    </li>
    <li>
      <i class="icon wysiwyg border double"></i>
      <div>wysiwyg border double</div>
    </li>
    <li>
      <i class="icon wysiwyg border inset"></i>
      <div>wysiwyg border inset</div>
    </li>
    <li>
      <i class="icon wysiwyg border outset"></i>
      <div>wysiwyg border outset</div>
    </li>
    <li>
      <i class="icon wysiwyg border solid"></i>
      <div>wysiwyg border solid</div>
    </li>
    <li>
      <i class="icon wysiwyg color"></i>
      <div>wysiwyg color</div>
    </li>
    <li>
      <i class="icon wysiwyg gradient"></i>
      <div>wysiwyg gradient</div>
    </li>
    <li>
      <i class="icon youtube"></i>
      <div>youtube</div>
    </li>
  </ul>
</div>
</body>
</html>