/* == Table == */
.yoyo.table {
  width: 100%;
  background: #FFFFFF;
  margin: 0em;
  border: 1px solid #dddddd;
  box-shadow: none;
  border-radius: 0;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0px;
  color: #3D4051;
}
.yoyo.table:first-child {
  margin-top: 0em;
}
.yoyo.table:last-child {
  margin-bottom: 0em;
}
.yoyo.table th,
.yoyo.table td {
  transition: background 0.1s ease, color 0.1s ease;
}
.yoyo.table thead {
  box-shadow: none;
}
.yoyo.table thead th {
  cursor: auto;
  background: #F9FAFB;
  text-align: inherit;
  color: rgba(0, 0, 0, 0.87);
  padding: 1em 0.750em;
  vertical-align: inherit;
  font-size: .875rem;
  font-weight: 600;
  text-transform: none;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  border-left: none;
}
.yoyo.table thead tr > th:first-child {
  border-left: none;
}
.yoyo.table thead tr:first-child > th:first-child {
  border-radius: 0.188rem 0em 0em 0em;
}
.yoyo.table thead tr:first-child > th:last-child {
  border-radius: 0em 0.188rem 0em 0em;
}
.yoyo.table thead tr:first-child > th:only-child {
  border-radius: 0.188rem 0.188rem 0em 0em;
}
.yoyo.table tfoot {
  box-shadow: none;
}
.yoyo.table tfoot th {
  cursor: auto;
  border-top: 1px solid #dddddd;
  background: #F9FAFB;
  text-align: inherit;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.750em 0.750em;
  vertical-align: middle;
  font-style: normal;
  font-size: .813rem;
  font-weight: 600;
  text-transform: none;
}
.yoyo.table tfoot tr > th:first-child {
  border-left: none;
}
.yoyo.table tfoot tr:first-child > th:first-child {
  border-radius: 0em 0em 0em 0.188rem;
}
.yoyo.table tfoot tr:first-child > th:last-child {
  border-radius: 0em 0em 0.188rem 0em;
}
.yoyo.table tfoot tr:first-child > th:only-child {
  border-radius: 0em 0em 0.188rem 0.188rem;
}
.yoyo.table tr td {
  border-top: 3px solid rgba(0,0,0,0.05);
}
.yoyo.table tr:first-child td {
  border-top: none;
}
.yoyo.table td {
  padding: 0.750em 0.750em;
  text-align: inherit;
  font-weight: 300;
}
.yoyo.table > .icon {
  vertical-align: baseline;
}
.yoyo.table > .icon:only-child {
  margin: 0em;
}
.yoyo.table.segment {
  padding: 0em;
}
.yoyo.table.segment:after {
  display: none;
}
.yoyo.table.segment.stacked:after {
  display: block;
}
/* == Image == */
.yoyo.table th .image,
.yoyo.table th .image img,
.yoyo.table td .image,
.yoyo.table td .image img {
  max-width: none;
}
/* == Types == */
.yoyo.basic.table.dashed tr td {
  border-top: 2px dashed rgba(34, 36, 38, 0.1);
}
.yoyo.basic.table.dashed {
  border-bottom: 2px dashed rgba(34, 36, 38, 0.1);
  border-radius: 0
}
.yoyo.structured.table {
  border-collapse: collapse;
}
.yoyo.structured.table thead th {
  border-left: none;
  border-right: none;
}
.yoyo.structured.sorting.table thead th {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.yoyo.structured.basic.table th {
  border-left: none;
  border-right: none;
}
.yoyo.structured.celled.table tr th,
.yoyo.structured.celled.table tr td {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
  border-right: 1px solid rgba(34, 36, 38, 0.1);
}
/* == Definition == */
.yoyo.definition.table {
  border: 0
}
.yoyo.definition.table thead th {
  background: #fff;
}
.yoyo.definition.table thead:not(.full-width) th:first-child {
  pointer-events: none;
  background: transparent;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}
.yoyo.definition.table tfoot:not(.full-width) th:first-child {
  pointer-events: none;
  background: transparent;
  font-weight: rgba(0, 0, 0, 0.4);
  color: normal;
  box-shadow: 1px 1px 0px 1px #FFFFFF;
}
.yoyo.celled.definition.table thead:not(.full-width) th:first-child {
  box-shadow: 0px -1px 0px 1px #FFFFFF;
}
.yoyo.celled.definition.table tfoot:not(.full-width) th:first-child {
  box-shadow: 0px 1px 0px 1px #FFFFFF;
}
.yoyo.definition.table tr td:first-child {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.95);
  font-size: 0.688rem;

  text-align: center;
}
.yoyo.definition.table thead:not(.full-width) th:nth-child(2) {
  border-left: 1px solid #dddddd;
}
.yoyo.definition.table tfoot:not(.full-width) th:nth-child(2) {
  border-left: 1px solid #dddddd;
}
.yoyo.definition.table td:nth-child(2) {
  border-left: 1px solid #dddddd;
}
/* == Collapsing == */
.yoyo.table th.collapsing,
.yoyo.table td.collapsing {
  width: 1px;
  white-space: nowrap;
}
/* == Fixed == */
.yoyo.fixed.table {
  table-layout: fixed;
}
.yoyo.fixed.table th,
.yoyo.fixed.table td {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* == Striped == */
.yoyo.striped.table > tr:nth-child(2n),
.yoyo.striped.table tbody tr:nth-child(2n) {
  background-color: #F5F5F5;
}
.yoyo.rounded.table {
  border-radius: 0.188rem;
}
/* == Grid Based == */
.yoyo.one.column.table td {
  width: 100%;
}
.yoyo.two.column.table td {
  width: 50%;
}
.yoyo.three.column.table td {
  width: 33.33333333%;
}
.yoyo.four.column.table td {
  width: 25%;
}
.yoyo.five.column.table td {
  width: 20%;
}
.yoyo.six.column.table td {
  width: 16.66666667%;
}
.yoyo.seven.column.table td {
  width: 14.28571429%;
}
.yoyo.eight.column.table td {
  width: 12.5%;
}
.yoyo.nine.column.table td {
  width: 11.11111111%;
}
.yoyo.ten.column.table td {
  width: 10%;
}
.yoyo.eleven.column.table td {
  width: 9.09090909%;
}
.yoyo.twelve.column.table td {
  width: 8.33333333%;
}
.yoyo.thirteen.column.table td {
  width: 7.69230769%;
}
.yoyo.fourteen.column.table td {
  width: 7.14285714%;
}
.yoyo.fifteen.column.table td {
  width: 6.66666667%;
}
.yoyo.sixteen.column.table td {
  width: 6.25%;
}
/* Column Width */
.yoyo.table th.one.wide,
.yoyo.table td.one.wide {
  width: 6.25%;
}
.yoyo.table th.two.wide,
.yoyo.table td.two.wide {
  width: 12.5%;
}
.yoyo.table th.three.wide,
.yoyo.table td.three.wide {
  width: 18.75%;
}
.yoyo.table th.four.wide,
.yoyo.table td.four.wide {
  width: 25%;
}
.yoyo.table th.five.wide,
.yoyo.table td.five.wide {
  width: 31.25%;
}
.yoyo.table th.six.wide,
.yoyo.table td.six.wide {
  width: 37.5%;
}
.yoyo.table th.seven.wide,
.yoyo.table td.seven.wide {
  width: 43.75%;
}
.yoyo.table th.eight.wide,
.yoyo.table td.eight.wide {
  width: 50%;
}
.yoyo.table th.nine.wide,
.yoyo.table td.nine.wide {
  width: 56.25%;
}
.yoyo.table th.ten.wide,
.yoyo.table td.ten.wide {
  width: 62.5%;
}
.yoyo.table th.eleven.wide,
.yoyo.table td.eleven.wide {
  width: 68.75%;
}
.yoyo.table th.twelve.wide,
.yoyo.table td.twelve.wide {
  width: 75%;
}
.yoyo.table th.thirteen.wide,
.yoyo.table td.thirteen.wide {
  width: 81.25%;
}
.yoyo.table th.fourteen.wide,
.yoyo.table td.fourteen.wide {
  width: 87.5%;
}
.yoyo.table th.fifteen.wide,
.yoyo.table td.fifteen.wide {
  width: 93.75%;
}
.yoyo.table th.sixteen.wide,
.yoyo.table td.sixteen.wide {
  width: 100%;
}
/* == Text Alignment == */
.yoyo.table[class*="left aligned"],
.yoyo.table [class*="left aligned"] {
  text-align: left;
}
.yoyo.table[class*="center aligned"],
.yoyo.table [class*="center aligned"] {
  text-align: center;
}
.yoyo.table[class*="right aligned"],
.yoyo.table [class*="right aligned"] {
  text-align: right;
}
.yoyo.table[class*="top aligned"],
.yoyo.table [class*="top aligned"] {
  vertical-align: top;
}
.yoyo.table[class*="middle aligned"],
.yoyo.table [class*="middle aligned"] {
  vertical-align: middle;
}
.yoyo.table[class*="bottom aligned"],
.yoyo.table [class*="bottom aligned"] {
  vertical-align: bottom;
}
/* == Sortable == */
.yoyo.sorting.table thead th {
  cursor: pointer;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.87);
}
.yoyo.sorting.table thead th:first-child {
  border-left: none;
}
.yoyo.sorting.table thead th.sorted,
.yoyo.sorting.table thead th.sorted:hover {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.yoyo.sorting.table thead th:not(.disabled):after {
  display: inline-block;
  width: 1em;
  opacity: 0.2;
  margin: 0 0 0 .5em;
  font-family: "YoyoIcons";
  content: '\e915';
  font-style: normal;
  font-weight: 400;
  font-size: .750rem;
  text-decoration: inherit;
}
.yoyo.sorting.table thead th.asc:after {
  content: '\e145';
}
.yoyo.sorting.table thead th.desc:after {
  content: '\e142';
}
.yoyo.sorting.table th.disabled:after {
  content: '';
}
.yoyo.sorting.table th.disabled:hover {
  cursor: auto;
  color: rgba(0, 0, 0, 0.95);
}
.yoyo.sorting.table thead th:hover {
  color: #33BFC1;
}
.yoyo.sorting.table thead th.sorted {
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, 0.95);
}
.yoyo.sorting.table thead th.sorted:after {
  display: inline-block;
}
.yoyo.sorting.table thead th.sorted:hover {
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, 0.95);
}
.yoyo.table i.icon.handle {
  cursor: pointer;
}
.yoyo.table tr.sorting-row {
  background-color: #F7F7F7;
}
.yoyo.collapsing.table {
  width: auto;
}
/* == Basic == */
.yoyo.basic.table {
  background: transparent;
  border: 0;
  box-shadow: none;
}
.yoyo.basic.table thead,
.yoyo.basic.table tfoot {
  box-shadow: none;
}
.yoyo.basic.table th {
  background: transparent;
  border-left: none;
  text-transform: uppercase;
  font-size: 0.813rem;
}
.yoyo.basic.table tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.yoyo.basic.table thead tr:first-child > th:last-child,
.yoyo.table thead tr:first-child > th:first-child {
  border-radius: 0;
}
.yoyo.basic.striped.table tbody tr:nth-child(2n) {
  background-color: #F9F9F9;
}
/* Very Basic */
.yoyo[class*="very basic"].table {
  border: none;
}
.yoyo[class*="very basic"].table:not(.sorting):not(.striped) th,
.yoyo[class*="very basic"].table:not(.sorting):not(.striped) td {
  padding: '';
}
.yoyo[class*="very basic"].table:not(.sorting):not(.striped) th:first-child,
.yoyo[class*="very basic"].table:not(.sorting):not(.striped) td:first-child {
  padding-left: 0em;
}
.yoyo[class*="very basic"].table:not(.sorting):not(.striped) th:last-child,
.yoyo[class*="very basic"].table:not(.sorting):not(.striped) td:last-child {
  padding-right: 0em;
}
.yoyo[class*="very basic"].table:not(.sorting):not(.striped) thead tr:first-child th {
  padding-top: 0em;
}
.yoyo.very.basic.table tr td {
  border-top: 0 solid rgba(34, 36, 38, 0.1);
}
/* == Celled == */
.yoyo.celled.table tr th,
.yoyo.celled.table tr td {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}
.yoyo.celled.table tr th:first-child,
.yoyo.celled.table tr td:first-child {
  border-left: none;
}
/* == Padded == */
.yoyo.padded.table th {
  padding-left: 1em;
  padding-right: 1em;
}
.yoyo.padded.table th,
.yoyo.padded.table td {
  padding: 1em 1em;
}
.yoyo[class*="very padded"].table th {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.yoyo[class*="very padded"].table td {
  padding: 1.5em 1.5em;
}
/* == Compact == */
.yoyo.compact.table th {
  padding-left: 0.7em;
  padding-right: 0.7em;
}
.yoyo.compact.table td {
  padding: 0.5em 0.7em;
}
.yoyo[class*="very compact"].table th {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.yoyo[class*="very compact"].table td {
  padding: 0.4em 0.6em;
}
.yoyo.compact.fitted.table td {
  padding: 0.2em 0.4em;
}
/* == Text Alignment == */
.yoyo.table[class*="left aligned"],
.yoyo.table [class*="left aligned"] {
  text-align: left;
}
.yoyo.table[class*="center aligned"],
.yoyo.table [class*="center aligned"] {
  text-align: center;
}
.yoyo.table[class*="right aligned"],
.yoyo.table [class*="right aligned"] {
  text-align: right;
}
.yoyo.table[class*="top aligned"],
.yoyo.table [class*="top aligned"] {
  vertical-align: top;
}
.yoyo.table[class*="middle aligned"],
.yoyo.table [class*="middle aligned"] {
  vertical-align: middle;
}
.yoyo.table[class*="bottom aligned"],
.yoyo.table [class*="bottom aligned"] {
  vertical-align: bottom;
}
/* == Sizes == */
.yoyo.small.table {
  font-size: 0.9em;
}
.yoyo.table {
  font-size: 1em;
}
.yoyo.large.table {
  font-size: 1.1em;
}
/* == Responsive == */
table.bt thead {
  display: none;
}
table.bt tbody td {
  border: none;
  display: block;
  vertical-align: middle;
  text-align: left;
}
table.bt tbody td:before {
  content: attr(data-th) ": ";
  font-weight: 600;
  font-size: .875em;
  width: 8em;
  display: inline-block;
  color: rgba(34, 36, 38, 1)
}
table.bt tbody td.bt-hide {
  display: none;
}
table.bt tbody td .bt-content {
  vertical-align: middle;
  display: inline-block;
}
.bt-wrapper.active {
  max-height: 610px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width:769px) {
.yoyo.table tr td {
  border-top: 1px solid rgba(34, 36, 38, 0);
}
.yoyo.basic.table tbody tr {
  box-shadow: 0 2px 0 0 #B4C1C7;
}
.yoyo.table th.collapsing,
.yoyo.table td.collapsing {
  width: auto;
  white-space: normal;
}
.yoyo.table[class*="center aligned"],
.yoyo.table [class*="center aligned"],
.yoyo.table[class*="tight aligned"],
.yoyo.table [class*="tight aligned"] {
  text-align: left;
}
}